.button {
  border: 0px;
  height: 100px;
  width: 100px;
  background-color: #a9a695;
  box-shadow: 8px 8px 16px #666;
  font-family: "Big Shoulders Text", cursive;
  font-size: 18px;
  color: #666666;
  align-items: center;
  justify-content: center;
  margin: 5px;
  &.active {
    background-color: #fbe571;
    box-shadow: inset 4px 4px 8px #666;
  }
  &:hover {
    background-color: orange;
  }
}
