@import url("https://fonts.googleapis.com/css?family=Damion|Turret+Road:800&display=swap");
.sonic {
  font-family: "Damion", cursive;
  font-size: 80px;
  color: #7f34a0;
  position: absolute;
  left: 0px;
  top: 0px;
}

.dj {
  font-family: "Turret Road", cursive;
  font-size: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.fas {
  width: 50%;
}
