@import url("https://fonts.googleapis.com/css?family=Damion|Turret+Road:800&display=swap");
.logo {
  display: flex;
  flex-direction: row;
}

.sonic {
  font-family: "Damion", cursive;
  font-size: 70px;
  color: #7f34a0;
  left: 0px;
  top: 0px;
}

.dj {
  font-family: "Turret Road", cursive;
  font-size: 175px;
}

.fas {
  width: 50%;
}
