.layout {
  display: flex;
  justify-content: space-around;
  background-color: #024f4f;
  background-image: url("https://www.transparenttextures.com/patterns/vertical-cloth.png");
  bottom: 100px;
  height: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.samples {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clear {
  margin: 20%;
}

.barcounter {
  font-size: 40px;

  font-family: "Turret Road", cursive;
}
